body {
}

header {
    background-color: #FECD45;
    /*line-height: 6rem;*/
    font-size: 20px;
    text-align: center;
    color: #c11e1e;
}

footer {
    background-color: black;
    line-height: 8rem;
    color: white;
    font-size: 20px;
    text-align: center;
}

h5 {
    text-decoration: none !important;
}

.bg-light {
    background-color: lightskyblue !important;
}

.sectionnav {
    background-color: lightskyblue;
}

/*@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: none;
    }

    .navbar .nav-item:hover .nav-link {
    }

    .navbar .nav-item:hover .dropdown-menu {
        display: block;
    }

    .navbar .nav-item .dropdown-menu {
        margin-top: 0;
    }
}*/
.navbar .nav-item .dropdown-menu {
    display: none;
}

.navbar .nav-item:hover .nav-link {
}

.navbar .nav-item:hover .dropdown-menu {
    display: block;
}

.navbar .nav-item .dropdown-menu {
    margin-top: 0;
}

.dropdown-toggle::after {
    display: none !important;
}

/*.navbar-nav .nav-link.active {
    color: rgba(0, 0, 0, 0.9);
    font-weight: bold !important;
}*/
.active {
    color: rgba(0, 0, 0, 0.9) !important;
    font-weight: bold !important;
}

.mybtn {
    width: 130px !important;
}

#carouselExampleControls1 {
    display: none;
}

@media screen and (max-width: 992px) {
    #carouselExampleControls1 {
        display: block;
    }

    #carouselExampleControls {
        display: none;
    }
}
