@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Chi tiết bài đăng";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-sm-12 bg-danger">
            <img src="~/img/h1.jpg" alt="Alternate Text" style="text-align: center" />
            <br /><br /><br />
            <p>
                Nội dung tin tức
            </p>
        </div>
        <div class="col-md-4 col-sm-12 bg-info justify-content-center">
            <div class="card mb-3" style="width: 18rem;">
                <img src="~/logo/l7.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Tiêu đề tin tức 1</h5>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="~/logo/l8.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Tiêu đề tin tức 2</h5>
                </div>
            </div>
        </div>
    </div>

    @section CSS{
        <link href="~/css/detail.css" rel="stylesheet" />
    }
