@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Danh sách bài đăng";
}
<div class="container listpost" style="margin-top: 30px;">
    <div class="row align-items-start mb-4">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="~/img/h1.jpg" alt="" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">Tiêu đề tin tức 1</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="~/img/h2.jpg" alt="" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">Tiêu đề tin tức 2</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="~/img/h3.jpg" alt="" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">Tiêu đề tin tức 3</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="~/img/h4.jpg" alt="" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">Tiêu đề tin tức 4</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row align-items-start mb-4">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="~/img/h5.jpg" alt="" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">Tiêu đề tin tức 1</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="~/img/h6.jpg" alt="" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">Tiêu đề tin tức 2</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="~/img/h7.jpg" alt="" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">Tiêu đề tin tức 3</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="~/img/h8.jpg" alt="" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">Tiêu đề tin tức 4</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row align-items-start mb-4">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="~/img/h9.jpg" alt="" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">Tiêu đề tin tức 1</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="~/img/h10.jpg" alt="" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">Tiêu đề tin tức 2</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="~/img/h1.jpg" alt="" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">Tiêu đề tin tức 3</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="~/img/h2.jpg" alt="" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">Tiêu đề tin tức 4</h5>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="text-center mb-4">
    <div class="d-flex justify-content-center">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>
    </div>
</section>